/Contract.API/bin/ 
/Contract.API/obj/
/Contract.Business/bin/ 
/Contract.Business/obj/
/Contract.Common/bin/ 
/Contract.Common/obj/
/Contract.Data/bin/ 
/Contract.Data/obj/
/packages/
/Contract.API/Data/Asset/
/Contract.Business/bin/
/Contract.Data/obj/
/Contract.API/Data/
/Contract.API/Data/
